@import "tailwindcss";


@font-face {
  font-family: "IronManOfWar";
  src: url("/Fonts/IRON_MAN_OF_WAR_002_NCV.ttf") format("truetype");
}

@font-face {
  font-family: "Inter";
  src: url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap") format("truetype");
}




@theme{
    --color-cyan : #21C7C7;
    --color-orange : #D3991D;
    --color-blue : #1F2330;
    --color-black : #1D1D1D;
    --color-black2 : #161616;

    --text-exsml: .75rem;
    --text-sml: 1rem;
    --text-reg: 1.5rem;
    --text-med: 2rem;
    --text-semilrg: 3rem;
    --text-lrg: 4rem;

    --font-ironManOfWar: "IronManOfWar", sans-serif;
    --font-inter: "Inter", sans-serif;
}





@layer components {

    .responsive{
        @apply px-8 lg:px-0 lg:max-w-[1440px]
    }

    
    .navbar{
        @apply flex justify-between items-center my-4 mx-auto 
    }
    
    
    .footer{
        @apply flex justify-between items-center my-2 mx-auto
    }




    
    .section-text{

        @apply text-center my-16 lg:my-24 px-8;

        @layer base{
            h1{
                @apply font-ironManOfWar text-semilrg md:text-lrg pb-2 lg:pb-4
            }
            h6{
                @apply font-inter text-exsml md:text-sml tracking-[.1rem]
            }
        }
    }

}